.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --box-shadow--: 0 19px 38px 2px #999999af, 19px -19px 38px #ffffff6f;
  --primary-backgroundcolor-blue--: rgb(135, 202, 247);

  --orange-color: orangered;
  --darkmode-color--: #2a2a2a;
  --darkmode-text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.wrapper {
  background: var(--primary-backgroundcolor-blue--);
  min-height: 100vh;
}

.title {
  text-align: center;
}

.title > span {
  border-bottom: 3px solid var(--orange-color);
}

/* darkmode */

[for="darkmode"] {
  position: fixed;
  z-index: 1;
  top: 7rem;
  left: 3rem;
}

[for="darkmode"]:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.3s;
}

#darkmode:checked + .wrapper {
  --primary-backgroundcolor-blue--: var(--darkmode-color--);
  color: var(--darkmode-text-color);
}

#darkmode {
  display: none;
}

/* navbar */

nav {
  /* background: skyblue; */
  background: var(--primary-backgroundcolor-blue--);
  padding: 0.8rem 0;
  z-index: 4;

  box-shadow: var(--box-shadow--);

  position: sticky;
  top: 0;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.info .softdev::before {
  background: var(--orange-color);
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  left: 28%;
}

.navopt > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.navopt ul > li {
  margin-left: 15px;
}

.navopt ul > li:hover {
  transition: all 0.3s linear;

  color: var(--orange-color);
  transform: scale(1.2);
  cursor: pointer;
}

/* hero section */

.hero {
  margin-top: 5rem;
  max-height: 60vh;
}

.hero-text {
  box-shadow: var(--box-shadow--);
  background: var(--orange-color);
  display: grid;
  grid-template-areas: "div img";
  padding: 2rem;
}

.hero-text > .text {
  grid-area: div;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.text span {
  font-weight: bold;
  font-size: 20px;
}

.job-post {
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 30px;
  margin-top: 6px;
}

.text .button button {
  background: var(--darkmode-color--);
  color: var(--darkmode-text-color);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.hero-text > .hero-img {
  grid-area: img;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -5rem;
}

.hero-img > img {
  height: 120%;
}

/* banner section */

.banner > div {
  border-radius: 1.8rem;
  box-shadow: var(--box-shadow--);
  border: 1px solid black;
  padding: 1.5rem 2rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.banicon-1,
.banicon-2,
.banicon-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.banicon-1::after {
  content: "";
  background: #000;
  height: 60%;
  width: 2px;
  position: absolute;
  left: 30%;
}

.banicon-2::after {
  content: "";
  background: #000;
  height: 60%;
  width: 2px;
  position: absolute;
  left: 70%;
}

.banner-icon {
  background: var(--orange-color);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkmode-text-color);
}

.award-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.award-txt > div:first-child {
  font-weight: bolder;
  letter-spacing: 2px;
}

.award-txt > div:last-child {
  color: var(--orange-color);
}

/* skill-section */

.skill {
  margin-top: 10rem;
}

.skill-list {
  display: flex;
  justify-content: space-between;
}

.skill-list > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-list > div > i {
  font-size: 4rem;
}

.skill-list span {
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

/* project-section */

.project {
  margin-top: 10rem;
}

.project > div .project-list {
  border-radius: 10px;

  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.project-list .project-card {
  box-shadow: var(--box-shadow--);
  padding-bottom: 0.6rem;
  border-radius: 10px 10px 0 0;
}

.project-card .top img {
  border-radius: 10px 10px 0 0;
}

.project-list .bottom {
  margin-top: 2rem;
}

.project-list .bottom .icon {
  text-align: center;
}

/* about-me section */
.about {
  background: rgba(27, 151, 64, 0.702);
  margin-top: 10rem;
}

.about > div {
  padding: 5rem 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about-content .about-img {
  width: 40%;
}

.about-content .my-bio h2 {
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-content .my-bio > p:nth-child(4),
.my-bio .abt-interest > h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

.my-bio .abt-interest .interest-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.my-bio .abt-interest .interest-list > div {
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
}

.my-bio .abt-interest .interest-list > div:hover {
  background: grey;
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.4s;
}

/* contact-seciton */

.contact {
  padding-top: 7rem;
  width: 600px;
  margin: auto;
  margin-top: 5rem;
}

.contact > div {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.contact h2 {
  margin-bottom: 4rem;
}

.contact .social {
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.contact h3 {
  padding: 3rem 0;
  text-align: center;
}

.contact > div > div:last-child {
  background: black;
  color: white;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 30px;
  box-shadow: var(--box-shadow--);
}

.contact .email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.contact .email > div:first-child {
  font-size: 1.6rem;
}

.email-icon {
  background: var(--orange-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 5rem 0;
  margin-top: 10rem;
}

footer .top {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

footer .top ul {
  list-style: none;
  padding-inline-start: 0;
}

footer .top ul li {
  line-height: 1.5rem;
}
