.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --box-shadow--: 0 19px 38px 2px #999999af, 19px -19px 38px #ffffff;
  --primary-backgroundcolor-blue--: rgb(135, 202, 247);

  --orange-color: orangered;
  --darkmode-color--: #2a2a2a;
  --darkmode-text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

.wrapper {
  background: var(--primary-backgroundcolor-blue--);
  min-height: 100vh;
}

/* darkmode */

[for="darkmode"] {
  position: fixed;
  z-index: 1;
  top: 7rem;
  left: 3rem;
}

[for="darkmode"]:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.3s;
}

#darkmode:checked + .wrapper {
  --primary-backgroundcolor-blue--: var(--darkmode-color--);
  color: var(--darkmode-text-color);
}

#darkmode {
  display: none;
}

/* navbar */

nav {
  /* background: skyblue; */
  background: var(--primary-backgroundcolor-blue--);
  padding: 0.8rem 0;

  box-shadow: var(--box-shadow--);

  position: sticky;
  top: 0;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.info .softdev::before {
  background: var(--orange-color);
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  left: 28%;
}

.navopt > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

ul > li {
  margin-left: 15px;
}

ul > li:hover {
  transition: all 0.3s linear;

  color: var(--orange-color);
  transform: scale(1.2);
  cursor: pointer;
}

/* hero section */

.hero {
  margin-top: 5rem;
  max-height: 60vh;
}

.hero-text {
  box-shadow: var(--box-shadow--);
  background: var(--orange-color);
  display: grid;
  grid-template-areas: "div img";
  padding: 2rem;
}

.hero-text > .text {
  grid-area: div;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.text span {
  font-weight: bold;
  font-size: 20px;
}

.job-post {
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 30px;
  margin-top: 6px;
}

.text .button button {
  background: var(--darkmode-color--);
  color: var(--darkmode-text-color);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.hero-text > .hero-img {
  grid-area: img;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -5rem;
}

.hero-img > img {
  height: 120%;
}
